@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* The body */
body, html {
  height: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
}

/* The headers and paragraphs */
h1 {
    font-family: Roboto, sans-serif;
    color: black;
    font-size: 37.5px;
}

h2 {
    font-family: Roboto, sans-serif;
    color: black;
    font-size: 28px;
}

p {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

/* The article divs classes  */

.sdv1 {
    text-align:justify;
    height: 400px;
    padding: 70px;
    background-color: #659490;
}

.sdv2 {
    text-align:justify;
    height: 400px;
    padding: 70px;
}


